certifi==2023.7.22
contourpy==1.1.0
cycler==0.11.0
fonttools==4.42.1
kiwisolver==1.4.5
matplotlib==3.7.3
networkx
numpy
onnx
packaging==23.1
Pillow
protobuf==4.23.4
pyparsing==3.1.1
python-dateutil==2.8.2
six==1.16.0
sympy
torch==2.0.1
torchaudio==2.0.2
torchvision==0.15.2
urllib3
zipp==3.16.2
